/* 
changes font to dyslexia friendly one 
dorkens background 
removes animations 
increases font size
*/
:root {
	--bg-dark: #000000;
	--bg-overlay: rgba(0, 0, 0, 0.7);
	--bg-overlay_solid: rgba(0, 0, 0, 1);
	--text-main: #ffffff;
	--text-highlight: #cccccc;
	--accent: #333333;
	--header-bg: #1a1a1a;
	--img-bg: #000000;
	--card-bg: #1a1a1a;
	--font-large: 2.0rem;
	--font-medium: 1.2rem;
	--font-small: 1rem;

}

@font-face {
	font-family: 'OpenDyslexic';
	src: url('fonts/OpenDyslexic-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}


/*____________________________________ CONSTANT STUFF   _______________________________________________*/


html {
	background-color: #26233a;

}

html,
body {
	font-family: 'OpenDyslexic';
	color: var(--text-main);
	line-height: 1.6;
	font-size: 20px;
	min-height: 100vh;
	padding: 2rem;
}



/* smaller layout for timeline */
#timeline {
	max-width: 1700px;
	position: relative;
	margin: 1rem auto;
	padding: 1rem;
	display: none;
	grid-auto-rows: 1fr;
	gap: 20px 30px;
	grid-template-areas:
		"Ancient"
		"middle"
		"babbage"
		"early20th"
		"turing"
		"colossus"
		"eniac"
		"stored"
		"univac"
		"micro"
		"personal"
		"gui"
		"internet"
		"mobile"
		"cloud"
		"ai"
}



/* decleare all the grid area stuff */
.ancient {
	grid-area: Ancient;

}

.middle {
	grid-area: middle;
}

.babbage {
	grid-area: babbage;
}

.early20th {
	grid-area: early20th;
}

.turing {
	grid-area: turing;

}

.colossus {
	grid-area: colossus;
}

.eniac {
	grid-area: eniac;
}

.stored {
	grid-area: stored;
}

.univac {
	grid-area: univac;

}

.micro {
	grid-area: micro;
}

.personal {
	grid-area: personal;
}

.gui {
	grid-area: gui;
}

.internet {
	grid-area: internet;

}

.mobile {
	grid-area: mobile;
}

.cloud {
	grid-area: cloud;
}

.ai {
	grid-area: ai;
}

/*____________________________________ TIMELINE STUFF END _______________________________________________*/
