/* 
changes font to dyslexia friendly one 
dorkens background 
removes animations 
increases font size
*/
:root {
	--bg-dark: #000000;
	--bg-overlay: rgba(0, 0, 0, 0.7);
	--bg-overlay_solid: rgba(0, 0, 0, 1);
	--text-main: #ffffff;
	--text-highlight: #cccccc;
	--accent: #ffffff;
	--header-bg: #1a1a1a;
	--img-bg: #000000;
	--card-bg: #1a1a1a;
	--font-large: 2.5rem;
	--font-medium: 1.5rem;
	--font-small: 1rem;

}

@font-face {
	font-family: 'OpenDyslexic';
	src: url('fonts/OpenDyslexic-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}


/*____________________________________ CONSTANT STUFF   _______________________________________________*/

/*css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-size: var(--font-medium);
}

a {
	color: #3e8fb0;
}

html {
	background-color: #26233a;

}

html,
body {
	font-family: 'OpenDyslexic';
	color: var(--text-main);
	line-height: 1.6;
	font-size: 20px;
	min-height: 100vh;
	padding: 2rem;
}

header {
	max-width: 1500px;
	background-color: var(--bg-overlay);
	border-radius: 10px;
	padding: 1rem;
	padding-bottom: 6rem;
	margin: 1rem auto;
}

header h1 {
	font-size: 80pt;
	text-align: center;
	padding-bottom: 1rem;

}

nav {
	display: flex;
	justify-content: space-evenly;
}

nav button {
	color: var(--text-main);
	background-color: var(--bg-overlay);
	border: none;
	border-radius: 10px;
	padding: 0.5rem;
}

nav button:hover {
	color: var(--text-main);
	background-color: var(--bg-dark);
	border: none;
	border-radius: 10px;
	padding: 0.6rem;
	box-shadow: 0 0 10px black;
}


/*____________________________________ HOME STUFF _______________________________________________*/

#home {
	max-width: 1500px;
	margin: 1rem auto;
}

.homeIntro {
	background-color: var(--bg-overlay);
	border-radius: 10px;
	padding: 1rem;
	margin: 1rem;

}


.homeParagraph {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-overlay);
	border-radius: 10px;
	padding: 1rem;
	margin: 1rem;
}

.homeParagraph img {
	height: 20rem;
	width: 30rem;

}

.homeParagraph video {
	height: 20rem;
	width: 40rem;
}



/*____________________________________ TIMELINE STUFF _______________________________________________*/
h3,
p {
	padding: 1rem;
}

img {
	height: 200px;
	box-shadow: black;
	border-radius: 10px;
	border: solid var(--bg-dark)
}


/* smaller layout for timeline */
#timeline {
	max-width: 1700px;
	position: relative;
	margin: 1rem auto;
	padding: 1rem;
	display: none;
	grid-auto-rows: 1fr;
	gap: 20px 30px;
	grid-template-areas:
		"Ancient"
		"middle"
		"babbage"
		"early20th"
		"turing"
		"colossus"
		"eniac"
		"stored"
		"univac"
		"micro"
		"personal"
		"gui"
		"internet"
		"mobile"
		"cloud"
		"ai"
}


/* color timeline secitons and add a haver effect */

#timeline div {
	text-align: left;
	align-items: left;
	padding: 0.7rem;
	background-color: var(--bg-overlay);
	border-radius: 10px;
}

/* decleare all the grid area stuff */
.ancient {
	grid-area: Ancient;

}

.middle {
	grid-area: middle;
}

.babbage {
	grid-area: babbage;
}

.early20th {
	grid-area: early20th;
}

.turing {
	grid-area: turing;

}

.colossus {
	grid-area: colossus;
}

.eniac {
	grid-area: eniac;
}

.stored {
	grid-area: stored;
}

.univac {
	grid-area: univac;

}

.micro {
	grid-area: micro;
}

.personal {
	grid-area: personal;
}

.gui {
	grid-area: gui;
}

.internet {
	grid-area: internet;

}

.mobile {
	grid-area: mobile;
}

.cloud {
	grid-area: cloud;
}

.ai {
	grid-area: ai;
}

/*____________________________________ TIMELINE STUFF END _______________________________________________*/

/*____________________________________ Signifigant people styles_______________________________________________*/

#people {
	display: none;
	grid-template-columns: 1fr;
	max-width: 1500px;
	margin: 2rem auto;
	padding: 1rem 2rem;
	line-height: 1.6;
	background-color: var(--bg-overlay);
	border-radius: 8px;
}

#people>h1 {
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 1.5rem;
}

.person {
	display: flex;
	border-bottom: 1px solid #ddd;
	padding: 2rem;
	margin: 2rem;
}

.person figcaption {
	font-size: 10pt;
}

.person:last-child {
	border-bottom: none;
}
